<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up for Lrnr</title>
</head>
<body>
<form method="post" action="/api/v1/registration">
    <label for="firstName">first name:</label>
    <input type="text" name="firstName" id="firstName"></input>
    <label for="lastName">last name:</label>
    <input type="text" name="lastName" id="lastName"></input>
    <label for="email">email:</label>
    <input type="text" name="email" id="email" required></input>
    <label for="password">password:</label>
    <input type="text" name="password" id="password" required></input>
    <button type="submit">Submit</button>
</form>
</body>
</html>
