<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>
<body>

    <a th:href = "@{/home}">Go To Home</a>
    <p th:text="${'Page name: ' + user_page.name}"></p>
    <a th:href = "@{/user_notebook/__${user_page.notebook.uuid}__}">Back to Notebook</a>
    <br>
    <p>Edit page below:</p>
    <a th:href="@{/__${user_page.notebook.uuid}__/edit/__${user_page.uuid}__}">Edit This Page</a>
    <br/>

    <p>add notes below</p>

    <form method="post" >
        <textarea th:value="${user_page.textContents}" id="page_contents" type = "text" name="page_text_content" maxlength="8000">Enter text here...</textarea>
        <button type="submit">Submit</button>

    </form>

    <p style="white-space: pre-line" th:text="${'Page Contents: ' + user_page.textContents}"></p>
</body>
</html>