<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Notebook</title>

</head>
<body>
    <a th:href = "@{/home}">Go To Home</a>
    <p th:text="${'Notebook: ' + user_notebook.notebookName}"></p>
    <h3>Pages:</h3>

    <th:block th:each="page : ${user_notebook.pages}">
        <p th:text="${page.name}"> </p>
        <a th:href="@{/__${user_notebook.uuid}__/__${page.uuid}__}">go to page</a>
    </th:block>
    <br>
    <p>Add a page </p>
    <form method="post">
        <input type="text" name="page_name" required></input>
        <button type="submit">Submit</button>
    </form>
</body>
</html>