<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>
<body>

    <a th:href = "@{/home}">Go To Home</a>
    <p th:text="${'Page name: ' + user_page.name}"></p>
    <a th:href = "@{/user_notebook/__${user_page.notebook.uuid}__}">Back to Notebook</a>
    <br>
    <p>Edit page below:</p>
    <a th:href="@{/__${user_page.notebook.uuid}__/edit/__${user_page.uuid}__}">Edit This Page</a>
    <br/>

    <p>add notes below</p>

    <form method="post" th:action="@{/__${user_page.notebook.uuid}__/__${user_page.uuid}__}" >
        <textarea th:value="${user_page.textContents}" id="page_text_content" type = "text" name="page_text_content" maxlength="8000">Enter text here...</textarea>
        <button type="submit">Submit</button>
    </form>

    <h3>upload a file</h3>
    <form method="post" th:action="@{/__${user_page.notebook.uuid}__/__${user_page.uuid}__/upload}" enctype="multipart/form-data">
        <label for="uploaded_document">Select files:</label>
        <input type="file" id="uploaded_document" name="uploaded_document" multiple><br><br>
        <input type="submit">
    </form>

    <p style="white-space: pre-line" th:text="${'Page Contents: ' + user_page.textContents}"></p>

    <br/>

    <div>
        <span th:if="${user_page_hasprevious}">
            <a th:href="@{/__${user_page.notebook.uuid}__/__${user_page_previous.uuid}__}"> Previous Page</a>
        </span>

        <span th:if="${user_page_hasnext}">
        <a th:href="@{/__${user_page.notebook.uuid}__/__${user_page_next.uuid}__}"> Next Page</a>
        </span>
    </div>


</body>
</html>