<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Notebook</title>

</head>
<body>
    <p th:text="${'Notebook: ' + user_notebook.notebookName}"></p>
    <h3>Pages:</h3>
    <span th:each="page : ${user_notebook.pages}" th:text="${page.name} "/>
    <br>
    <p>Add a page </p>
    <form method="post">
        <input type="text" name="page_name"></input>
        <button type="submit">Submit</button>
    </form>
</body>
</html>